
[Unit]
Description=Elephant
After=graphical-session.target

[Service]
Type=simple
ExecStart=elephant --config %h/.config/elephant/elephant.toml
Restart=on-failure

[Install]
WantedBy=graphical-session.target
							
